<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css" >
        <link rel="icon" href="/img/weather.png" >
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <p>This site was cerated by m.olegario.  It uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src="/img/self.png">
        </div>
        {{>footer}}
    </body>
</html>