<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css" >
        <link rel="icon" href="/img/weather.png" >
    </head>
    <body>
        <div class="main-container">
            {{>header}}
            <p>Input any location reference and click FORECAST button to get the current forecast at your given location.</p>
            <form>
                <input placeholder="location"><button>FORECAST</button>
            </form>
            <div id="data-stack">
                <div id="p-response-1"></div>
                <div id="p-response-2"></div>
                <div id="p-response-3"></div>
                <div id="p-response-4"></div>
                <div id="p-response-5"></div>
                <div id="p-response-6"></div>
            </div>
            {{>footer}}
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>